{
     "branches": "master",
     "repositoryUrl": "https://github.com/frodohong/java-semantic-release",
     "debug": "true",
     "plugins": [
          
        ["@semantic-release/commit-analyzer", {
      "releaseRules": [
    {"type": "HOTFIX", "release": "patch"},   
        {"type": "PATCH", "release": "patch"},
        {"type": "MINOR", "release": "minor"},
        {"type": "MAJOR", "release": "major"}
      ],
      "parserOpts": {
        "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
      }
    }],
[
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "writerOpts": {
          "types": [
            {
              "type": "MAJOR",
              "section": "MAJOR",
              "hidden": false
            },
            {
              "type": "MINOR",
              "section": "MINOR",
              "hidden": false
            },
            {
              "type": "PATCH",
              "section": "PATCH",
              "hidden": false
            },
            {
              "type": "HOTFIX",
              "section": "HOTFIX",
              "hidden": false
            }
          ]
        }
      }
    ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning Changelog"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "./prepare-release.sh ${nextRelease.version}"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "pom.xml"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "release/**"
                    }
                ]
            }
        ]
    ]
}
